#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: 50px;
}

#logo {
    margin: auto;
}

nav {
    display: flex;
    align-items: row;
    justify-content: space-between;
    margin-right: 100px;
    font-family: 'Quicksand', sans-serif;
}

#column1 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 30px;
    padding-top: 10px;
}

#column2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}


.movieInfo {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    font-style: bold;
}

main {
    display: flex;
    flex-direction: row;
}



#scoreStars {
    display: flex;
    flex-direction: row;
}

.castInfo {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#castLabel {
    margin-left: 100px;
    margin-top: 50px;
}

.reviewInfo {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #58B0CC;
    color: black;
    height: 50px;
    padding-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.review {
    background-color: #d9d9d9;
    border: solid 2px #d9d9d9;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px grey;
    width: 500px;
    height: 200px;
    padding: 2px 10px 10px 10px;
}

.scoreInfo {
    border: solid 2px #58B0CC;
    height: 134px;
    width: 162px;
    margin-right: 40px;
    padding-top: 5px;
    border-radius: 5px;
}

#sceneScore {
    display: flex;
    flex-direction: row;
    height: 20px;
    text-align: center;
}


body {
    background-color: #F6F6F6;
    font-family: 'Quicksand', sans-serif;
}

#scorePercent {
    color: #338D25;
    font-size: 48px;
    margin: 0;
    text-align: center;
}


#numReviews {
    font-size: 14px;
    margin: 0;
    text-align: center;
}

#dateGenreDuration {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#movieTitle {
    font-size: 25px;
    font-style: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

#movieDescription {
    font-size: 15px;
    font-style: bold;
    color: rgb(68, 67, 67);
}

#searchButton {
    margin-left: 50px;
    border-color: #F6F6F6;
    background-color: #F6F6F6;
    border-radius: 5px;
    height: 27px;
}

#searchBar {
    height: 22px;
    border-radius: 5px;
}

#tvButton {
    margin-left: 50px;
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    border-radius: 5px;
}

#moviesButton {
    border-color: #F6F6F6;
    background-color: #F6F6F6;
    border-radius: 5px;
}

#moviesButton:hover {
    cursor: pointer;
    color: #58B0CC;
    border-color: #58B0CC;
}

#tvButton:hover {
    cursor: pointer;
    color: #58B0CC;
    border-color: #58B0CC;
}

#searchButton:hover {
    cursor: pointer;
    border-color: #58B0CC;
}

#searchBar:hover {
    border-color: #58B0CC;
}

#dateGenreDuration {
    color: rgb(68, 67, 67);
    font-style: bold;
    margin-top: 0;
}

#scoreTitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#scorePercent {
    margin-top: 10px;
}

#actionImage {
    width: 40px;
    height: 20px;
    margin-top: 10px;
}

#reviewButton {
    height: 40px;
    width: 216px;
    color: white;
    background-color: #58B0CC;
    border-radius: 5px;
    border: solid 1px #58B0CC;
}

#reviewButton:hover {
    cursor: pointer;
    background-color: white;
    border-color: #58B0CC;
    color: #58B0CC;
}

.tags {
    border-left: solid 2px black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}

#tagsHeader {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#tagsSubheader {
    font-size: 15px;
}

#disabilities, #themes,  #genre {
    font-size: 14px;
}

#starInfo {
    margin-top: 0;
    padding-top: 0;
    height: 134px;
}

.actorName {
    font-size: 16px;
    color: black;
}

.characterName {
    font-size: 14px;
    font-weight: bold;
    color: rgb(68, 67, 67);
}

.reviewButton {
    border-color: #d9d9d9;
    border-radius: 5px;
    margin-left: 400px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 30px;
}

.reviewButton:hover {
    cursor: pointer;
    border-color: #58B0CC;
    color: #58B0CC;
}