body {
    background-color: #F6F6F6;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

#logo {
    margin: auto;
}

nav {
    display: flex;
    align-items: row;
    justify-content: space-between;
    margin-right: 20px;
    font-family: 'Quicksand', sans-serif;
}

#column1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-top: 20px;
}

#column2 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.movieInfo {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    font-style: bold;
}

main {
    display: flex;
    flex-direction: row;
}

#scoreStars {
    display: flex;
    flex-direction: row;
}

.castInfo {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

#castLabel {
    margin-left: 20px;
    margin-top: 20px;
}

.reviewInfo {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #58B0CC;
    color: black;
    height: 50px;
    padding-top: 5px;
    margin: 0 20px;
}

.review {
    background-color: #d9d9d9;
    border: solid 2px #58B0CC;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    padding: 2px 2px 0 10px;
}

.scoreInfo {
    border: solid 2px #58B0CC;
    height: 134px;
    width: 162px;
    margin: 0 10px;
    padding-top: 5px;
    border-radius: 5px;
}

#sceneScore {
    display: flex;
    flex-direction: row;
    height: 20px;
    text-align: center;
}

#scorePercent {
    color: #338D25;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

#numReviews {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

#dateGenreDuration {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#movieTitle {
    font-size: 20px;
    font-style: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

#movieDescription {
    font-size: 13px;
    font-style: bold;
    color: rgb(68, 67, 67);
}

#searchButton {
    margin-left: 10px;
    border-color: #F6F6F6;
    background-color: #F6F6F6;
    border-radius: 5px;
    height: 22px;
}

#searchBar {
    height: 18px;
    border-radius: 5px;
}

#tvButton {
    margin-left: 10px;
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    border-radius: 5px;
}

#moviesButton {
    border-color: #F6F6F6;
    background-color: #F6F6F6;
    border-radius: 5px;
    height: 25px;
}

#moviesButton:hover,
#tvButton:hover,
#searchButton:hover,
#searchBar:hover {
    cursor: pointer;
    border-color: #58B0CC;
}

#dateGenreDuration {
    color: rgb(68, 67, 67);
    font-style: bold;
    margin-top: 0;
}

#scoreTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

#scorePercent {
    margin-top: 5px;
}

#actionImage {
    width: 30px;
    height: 15px;
    margin-top: 5px;
}

#reviewButton {
    height: 30px;
    width: 180px;
    color: white;
    background-color: #58B0CC;
    border-radius: 5px;
    border: solid 1px #58B0CC;
}

#reviewButton:hover {
    cursor: pointer;
    background-color: white;
    border-color: #58B0CC;
    color: #58B0CC;
}

.tags {
    border-left: solid 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
}

#tagsHeader {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

#tagsSubheader {
    font-size: 13px;
}

#disabilities,
#themes,
#genre {
    font-size: 12px;
}

#starInfo {
    margin-top: 0;
    padding-top: 0;
    height: 134px;
}

.actorName {
    font-size: 14px;
    color: black;
}

.characterName {
    font-size: 12px;
    font-weight: bold;
    color: rgb(68, 67, 67);
}

.reviewButton {
    border-color: #d9d9d9;
    border-radius: 5px;
    height: 25px;
    float: right;
    margin-right: 5px;
}

.actorList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.individualActorImage {
    border-radius: 5px;
    margin-right: 10px;
}

.individualActorImage:hover {
    filter: brightness(0.8);
    border: solid 2px #58B0CC;
}

.individualActor:hover {
    color: #58B0CC;
    margin-right: 10px;
}

#reviewsLabel {
    margin-left: 20px;
}

.reviewList {
    list-style: none;
    overflow: scroll;
}

.review {
    overflow: scroll;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    navBar {
        margin-left: 100px;
        margin-right: 100px;
    }
}


@media screen and (min-width: 1024px) {
    body {
        font-size: 20px; 
    }

    #navBar {
        margin-left: 150px;
        margin-right: 150px;
    }
}